<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Enter id or password to login</h1>
                    <hr>
                </div>
                <form>
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input name="email" type="name" class="form-control" [(ngModel)]="email"
                            placeholder="Enter your mail" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input name="password" type="password" placeholder="Enter your password" [(ngModel)]="password"
                            class="form-control" id="exampleInputPassword1">
                    </div>
                    <button (click)="submitPage()" type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>